.mainIcons {
    width: 200px;
    height: 200px;
    background-color: slategray;
    padding: 10px;
    border-radius: 25px;
}

.mainBackground {
    background-color: rgb(159, 223, 199);
    min-height: 100vh;
    padding: 2px;
}